html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5em;
  }
}

img {
  max-width: 100%;
}

.logo {
  width: 100%;
}

/* 
media query ประเภท minimum-width ซึ่ง CSS rules ภายในจะถูกใช้เฉพาะเมื่อ viewport มีความกว้างเท่ากับหรือมากกว่าค่าที่กำหนด 
*/
/* 
  @media เป็น directive ที่บอก browser ว่ากำลังเริ่ม media query
  screen บอกว่า rules ควรใช้กับหน้าจอทุกประเภท (จริงๆไม่จำเป็นต้องระบุก็ได้)
  and เป็นคำสั่งที่เชื่อมเงื่อนไขเพิ่มเติม คือ (min-width: 800px)
  หมายความว่า rules จะถูกจำกัดเฉพาะ viewport ที่มีความกว้างอย่างน้อย 800px
*/
@media screen and (min-width: 800px) {
  /* 
  ใช้เฉพาะเมื่อ viewport มีความกว้างเท่ากับหรือมากกว่า 800px เท่านั้น 
  */
  body {
    background-color: lightblue;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
