html {
  box-sizing: border-box;
  /* 
  กล่องของเราจะยังคงมีขนาด 200px x 100px ตามที่กำหนดไว้ใน `width` และ `height` เพราะ padding และ border จะถูกรวมเข้าไปด้านใน ดังนั้นขนาดของเนื้อหาจะถูกปรับให้เล็กลงโดยอัตโนมัติ
  */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.gallery-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  background-color: lightblue;
}
